<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>AUTORES</title>
</head>
<body>

<h1><p style="color:#FF0000";>AUTORES</p></h1>

<table border="1">
    <tr>
        <th>Id</th>
        <th>NOMBRE</th>

        <th>APELLIDO</th>


    </tr>
    <tr th:each="autor: ${autores}">
        <td th:text="${autor.id}">
        </td>
        <td th:text="${autor.nombre}">
        </td>

        <td th:text="${autor.apellido}">
        </td>

        <td>

        </td>



        <p>PAIS:</p>
        <select name="postCategory" id="postCategory">
            <option th:each="postCategory : ${postCategories}" th:value="${postCategory.id}" th:text="${postCategory.name}"></option>
        </select>




        <td>
            <a th:href="@{/autorsh/}+${autor.id}">Ver</a>
            <a th:href="@{/autoredit/edit/}+${autor.id}">Editar</a>
            <a th:href="${'/autordel/' + autor.id}">Eliminar</a>

        </td>
    </tr>
</table>


<a href="/autores/new">NEW</a>
<br><br><a href="/books">Volver</a>
</body></body>
</html>

</body>
</html>-