<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>LIBROS</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>TITULO</th>

        <th>CATEGORIA</th>

        <th>AUTOR</th>

        <th>MOSTRAR1_0</th>


    </tr>
    <tr th:each="libro: ${visHtm}">
        <td th:text="${libro.id}">
        </td>
        <td th:text="${libro.titulo}">
        </td>

        <td th:text="${libro.categoria}">
        </td>
        <div th:if="${libro.autorComboBox}">
            <td th:text="${libro.autorComboBox.id}"></td>
        </div>
        <div th:if="${libro.autorComboBox}">
            <!--<td th:text="vacio"></td>-->
        </div>
<!--        <div th:if="${libro.autorComboBox == null}">
            <td th:text="${libro.autorComboBox.id}"></td>
        </div>-->

        <!--<div th:if="${libro.mostrar1_0()} == null}">-->
        <td th:text="${libro.mostrar1_0}"></td>


        <td>
            <a th:href="@{/booksh/}+${libro.id}">Ver</a>
            <a th:href="@{/bookedit/edit/}+${libro.id}">Editar</a>
            <a th:href="${'/bookdel/' + libro.id}">Eliminar</a>

        </td>
    </tr>
</table>


<a href="/books/new">NEW</a>
</body></body>
</html>

<a href="/aut">autores</a>
</body></body>
</html>