<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>EDIT</title>
</head>
<body>
<form action="/edit/book" method="POST">
    <input type="hidden" name="id" th:value="${book.id}">
    <b>Titulo:</b><input type="text" name="titulo" th:value="${book.titulo}">

    <b>Categoriaedit:</b><input type="text" name="categoria" th:value="${book.categoria}">


    <label>AUTOR</label>
    <select th:field="${book.autorComboBox}">
        <option th:value="${null}" selected> selecciona un autor"</option>
        <div th:each="author:${misAutores}">
            <option th:value="${author.id}" th:text="${author.nombre}"></option>
        </div>
    </select>


    <b>MOSTRAREDIT1_0:</b><input type="text" name="mostrar1_0" th:value="${book.mostrar1_0}">


    <input type="submit" value="Guardar">
</form>
</body>
</html>