<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>NUEVO</title>
</head>
<body>
<form th:object="${book}" action="/book" method="POST">
    <b>TITULO:</b><input type="text" th:field="${book.titulo}">

    <b>CATEGORIA-NEW:</b><input type="text" th:field="${book.categoria}">

<label>AUTOR</label>
    <select th:field="${book.autorComboBox}">
        <option th:value="${null}" selected> selecciona un autor"</option>
        <div th:each="author:${misAutores}">
            <option th:value="${author.id}" th:text="${author.nombre}"></option>
        </div>
    </select>

    <b>MOSTRAR1_0:</b><input type="text" th:field="${book.mostrar1_0}">

    <input type="submit" value="Guardar">
</form>
</body>
</html>