<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SHOW</title>
</head>
<body>
<b>Id:</b> <p th:text="${book.id}"></p>
<b>Titulo:</b> <p th:text="${book.titulo}"></p>

<b>Categoria:</b> <p th:text="${book.categoria}"></p>

<b>Likes:</b> <span th:text="${book.likes}"></span>

<a th:href="${'/like/' + book.id}"> Like</a>


<br><br><a href="/books">Volver</a>
</body>
</html>