<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SHOW AUTOR</title>
</head>
<body>

<b>Id:</b> <p th:text="${shautor.id}"></p>
<b>NOMBRE:</b> <p th:text="${shautor.nombre}"></p>

<b>APELLIDO:</b> <p th:text="${shautor.apellido}"></p>


<br><br><a href="/books">Volver</a>


</body>
</html>